=arrow
  top: 11px
  right: 24px
  display: inline-flex
  flex-flow: row wrap
  align-items: center
  justify-content: center
  content: "\f054"
  font-family: FontAwesome
  position: absolute
  border: 2px solid white
  border-radius: 100%
  height: 24px
  width: 24px
