@import 'base/*'
@import 'utilities/*'
@import "components/*"
@import "modules/*"
@import "font-awesome-sprockets"
@import "font-awesome"

body
  // font-family: $font-stack
  box-sizing: border-box
  background: #F5F5F5

.page
  max-width: 1176px
  margin: -188px auto 0 auto
  &.small
    max-width: 1076px
    margin: 0 auto
  &.nolift
    margin: 0 auto
.row
  display: flex

.container
  margin: 0 auto
  max-width: 1176px
  &.small
    max-width: 776px
  &.medium
    max-width: 1076px

.container-fluid
  width: 100%
  margin: 0
  padding: 0

.splitline
  height: 5px
  background-image: linear-gradient(-90deg, #6A9BD4 0%, #713079 26%, #FF7200 45%, #FC0670 77%, #6A9BD4 100%)



.col-1
  width: 8.3333333333%
  max-width: 8.3333333333%
  flex-basis: 8.3333333333%
.col-2
  width: 16.666666667%
  max-width: 16.666666667%
  flex-basis: 16.666666667%
.col-3
  width: 25%
  flex-basis: 25%
  max-width: 25%
.col-4
  width: 33.333333333%
  flex-basis: 33.333333333%
  max-width: 33.333333333%
.col-5
  width: 41.666666667%
  flex-basis: 41.666666667%
  max-width: 41.666666667%
.col-6
  width: 50%
  flex-basis: 50%
  max-width: 50%
.col-7
  width: 58.333333333%
  flex-basis: 58.333333333%
  max-width: 58.333333333%
.col-8
  width: 66.666666666%
  max-width: 66.666666666%
  flex-basis: 66.666666666%
.col-9
  width: 75%
  flex-basis: 75%
  max-width: 75%
.col-10
  width: 83.333333333%
  max-width: 83.333333333%
  flex-basis: 83.333333333%
.col-11
  width: 91.666666666%
  max-width: 91.666666666%
  flex-basis: 91.666666666%
.col-12
  width: 100%
  max-width: 100%
  flex-basis: 100%

.push-1
  margin-left: 8.3333333333%
.push-2
  margin-left: 16.666666667%
.push-3
  margin-left: 25%
.push-4
  margin-left: 33.333333333%
.push-5
  margin-left: 41.666666667%
.push-6
  margin-left: 50%
.push-7
  margin-left: 58.333333333%
.push-8
  margin-left: 66.666666666%
.push-9
  margin-left: 75%
.push-10
  margin-left: 83.333333333%
.push-11
  margin-left: 91.666666666%

.flex
  display: flex

.text
  padding: 72px 0
  background: white

.link
  font-size: 13px
  font-weight: 700
  text-transform: uppercase
  text-decoration: none
  color: $text
  &:hover
    color: $pink


@media all and (max-width: 768px)
  .page
    margin: 0 auto
  .container
    padding: 0 30px
  .col-6
    width: 100%
