@import 'base/*'
@import 'utilities/*'
@import "components/*"
@import "modules/*"
@import "font-awesome-sprockets"
@import "font-awesome"

body
  // font-family: $font-stack
  box-sizing: border-box
  background: #F5F5F5

.page
  max-width: 1176px
  margin: -188px auto 0 auto

.row
  display: flex

.container
  margin: 0 auto
  max-width: 1176px
  &.small
    max-width: 776px
  &.medium
    max-width: 1076px

.container-fluid
  width: 100%
  margin: 0
  padding: 0

.splitline
  height: 5px
  background-image: linear-gradient(-90deg, #6A9BD4 0%, #713079 26%, #FF7200 45%, #FC0670 77%, #6A9BD4 100%)


.col-6
  width: 50%
  display: flex

.col-4
  max-width: 25%
  flex-basis: 25%

.col-3
  max-width: 33.333333%
  flex-basis: 33.3333333%

.link
  font-size: 13px
  font-weight: 700
  text-transform: uppercase
  text-decoration: none
  color: $text
  &:hover
    color: $pink


@media all and (max-width: 768px)
  .page
    margin: 0 auto
  .container
    padding: 0 30px
  .col-6
    width: 100%
