section.mod-intro
  .container.small
    h2 Wat doen wij?
    p.m Wij bieden digitale omgevingen waarin je met korte activiteiten leert wanneer het jou uitkomt. Op ieder moment, op iedere plek, op ieder apparaat. En voor verschillende functies in verschillende stadia van de ontwikkeling van medewerkers.

