---
layout: homepage
---

  =partial "mods/mod-hero"
  .page
    .splitline
    =partial "mods/mod-customers"
    =partial "mods/mod-intro"
    =partial "mods/mod-featured"
    =partial "mods/mod-ctarow"
    =partial "mods/mod-uitgelicht"
    section.mod-intro
      .container.small
        h2 Waarom werken met Leaplines?
        p.m Je volstaat niet meer met een eenmalige training voor onboarding, voor het verbeteren van de service, de sales of de operationele executie. Wij geloven in een nieuwe manier van leren. Een manier van deze tijd.
    =partial "mods/mod-benefits"
    =partial "mods/mod-wayofworking"
    =partial "mods/mod-partners"
    =partial "mods/mod-promote"
    =partial "mods/mod-quote"
    section.mod-ctarow
      .img
      .cta
        a href="#"
          | NEEM CONTACT MET ONS OP
          img src="images/btn-arrow.svg" /
