.mod-apps
  background: white
  padding: 90px 0
  margin-bottom: 60px
  .img
    background-size: contain
    background-repeat: no-repeat
    background-position: center center
    flex: 1
  .content
    flex: 1
    h2
      margin-bottom: 24px
  .apps
    background: #f7f7f7
    display: flex
    flex-basis: 100%
    flex-flow: row wrap
    padding: 90px 30px 24px 40px
    margin: 72px 0 130px 0
    .app
      flex-basis: 25%
      max-width: 25%
      margin-bottom: 72px
      display: flex
      align-items: flex-start
      img
        margin-right: 18px
      header
        h4
          margin-bottom: 12px
          font-weight: 600
