.mod-benefits
  background: white
  margin-bottom: 60px
  display: flex
  display: -webkit-box
  .items .list
    display: none
  .items
    display: flex
    flex-flow: row wrap
    a
      width: 100%
      .item
        display: flex
        align-items: center
        width: 100%
        padding: 48px 0
        border-top: 1px solid $border
        position: relative
        cursor: pointer
        &.large
          padding: 72px 0
        &:nth-last-child(0)
          border: none
        img, svg
          padding-left: 72px
        h2
          padding: 0 0 0 36px
          color: $text
        &.active
          background: $blue
          #step-1.icon
            .wrapper
              polygon
                stroke: white
                fill: transparent
          #step-4.icon
            .wrapper
              polygon
                stroke: white
                fill: transparent
          .icon
            path
              stroke: white
            polygon
              fill: white
            polyline
              stroke: white
            .inner
              path
                stroke: white
            .wrapper
              .inner
                .circle
                  stroke: #2076DA
          h2
            color: white
          &:after
            left: 100%
            top: 50%
            border: solid transparent
            content: ""
            height: 0
            width: 0
            position: absolute
            pointer-events: none
            border-color: rgba(32, 118, 218, 0)
            border-left-color: #2076DA
            border-width: 18px
            margin-top: -18px
        &:hover
          background: $blue
          border-top-color: $blue
          &:after
            left: 100%
            top: 50%
            border: solid transparent
            content: ""
            height: 0
            width: 0
            position: absolute
            pointer-events: none
            border-color: rgba(32, 118, 218, 0)
            border-left-color: #2076DA
            border-width: 18px
            margin-top: -18px
          h2
            color: white

          #step-1.icon
            .wrapper
              polygon
                stroke: white
                fill: transparent
          #step-4.icon
            .wrapper
              polygon
                stroke: white
                fill: transparent
          .icon
            path
              stroke: white
            polygon
              fill: white
            polyline
              stroke: white
            .inner
              path
                stroke: white
            .wrapper
              .inner
                .circle
                  stroke: #2076DA
      .toggle
        width: 27px
        height: 27px
        background-repeat: no-repeat
        position: absolute
        right: 12px
        display: none
        top: 18px
        color: red
        &.opened
          background: url('../images/arrowopened.svg')
        &.closed
          background: url('../images/arrowclosed.svg')
  .img
    width: 100%
    background-repeat: no-repeat
    background-color: #ECECEC
    background-size: 75%
    background-position: center center
  .list
    background: $blue-light
    display: flex
    width: 100%
    padding: 0 72px 0 120px
    align-items: center
    justify-content: center
    ul
      li
        color: white
        font-size: 24px
        line-height: 36px
        font-weight: 300
        margin-bottom: 36px
        position: relative
        &:before
          content: ""
          width: 21px
          height: 21px
          border-radius: 100%
          position: absolute
          top: 6px
          left: -48px
          border: 1px solid white
        &:nth-last-child(1)
          margin: 0

@media all and (max-width: 768px)
  .mod-benefits
    flex-flow: column wrap
    .col-6.kill
      display: none
    .items
      .list
        display: block
        padding: 36px 36px 36px 60px
        ul
          li
            font-size: 16px
            line-height: 32px
            &:before
              width: 13px
              height: 13px
              top: 9px
              left: -30px
      a
        .item
          padding: 12px 0
          &.active
            border: none
            &:after
              display: none
          h2
            font-size: 18px
            padding-left: 12px
          img, svg
            padding-left: 10px
            height: 24px
        .toggle
          display: flex
