.mod-breadcrumbs
  background: $black
  .container
    display: flex
    height: 60px
    align-items: center
    justify-content: space-between
    ul
      li
        display: inline-block
        margin-right: 108px
        position: relative
        &:after
          color: white
          font-size: 16px
          top: 1px
          margin-left: 48px
          content: ">"
          position: absolute
        &:nth-last-child(1)
          &:after
            display: none
        a
          color: white
          font-size: 16px
          &:hover
            color: $pink
    .date
      display: flex
      align-items: center
      p
        color: white
        margin: 0
