.contact
  background-color: $black
  display: flex
  height: 183px
  align-items: center
  padding: 0 0 0 72px
  small, p
    color: white
  small
    text-transform: uppercase
    opacity: 0.4
    font-size: 12px
    font-weight: 700
    margin-bottom: 12px
    display: flex
  p
    &.bold
      font-weight: 600
    span
      font-weight: 600
      margin-left: 12px

@media all and (max-width: 768px)
  .contact
    height: auto
    flex-flow: row wrap
    padding: 60px 36px
    .col-4
      margin-bottom: 48px
      &:nth-last-child(1)
        margin-bottom: 0px
      small
        font-size: 16px
        margin-bottom: 6px
      p
        font-size: 18px
        line-height: 36px
