.mod-ctarow
  .img
    background: url('../images/amsterdam.jpg')
    background-size: cover
    background-position: center center
    height: 360px
  .cta
    background: $blue
    padding: 72px 0
    a
      margin-left: 72px
      color: white
      font-size: 14px
      font-weight: 700
      display: flex
      align-items: center
      img
        margin-left: 48px

@media all and (max-width: 768px)
  .mod-ctarow
    .cta
      a
        margin-left: 30px
