.mod-ctarow
  .img
    background: url('../images/amsterdam.jpg')
    background-size: cover
    background-position: center center
    height: 360px
  .cta
    background: $blue
    padding: 72px 0
    a
      margin-left: 72px
      color: white
      font-size: 14px
      font-weight: 700
      position: relative
      &:after
        +arrow
        top: -6px
        right: -60px
