.mod-customers
  background: $text
  padding: 72px 0
  .customers
    display: flex
    width: 100%
    align-items: center
    justify-content: space-around
    img
      display: block
      &:hover
        opacity: .5

@media all and (max-width: 768px)
  .mod-customers
    &.virtueelevent
      .welkoop, .delta, .ah
        display: block !important
    .customers
      img
        height: 24px
      .blokker, .action, .ing, .ah, .welkoop
        display: none
      .bijenkorf
        order: 0
      .delta
        order: 2
        opacity: .8
      .pathe
        order: 1

