.mod-customers
  background: $text
  padding: 6em 0
  .customers
    display: flex
    width: 100%
    align-items: center
    justify-content: space-between
    img
      display: block
      &:hover
        opacity: .5



