.mod-customers
  background: $text
  padding: 72px 0
  .customers
    display: flex
    width: 100%
    align-items: center
    justify-content: space-around
    img
      display: block
      &:hover
        opacity: .5

@media all and (max-width: 768px)
  .mod-customers
    .customers
      img
        height: 24px
      .blokker, .action
        display: none
      .bijenkorf
        order: 0
      .ing
        order: 2
      .pathe
        order: 1

