.mod-featured
  .featured-items
    .item
      display: flex
      height: 400px
      &.reverse
        flex-direction: row-reverse
      .featured-img
        background: url(../images/academy-mock.jpg)
        background-size: cover
        background-position: center top
        &.sales
          background: url(../images/sales-mock.jpg)
          background-size: cover
          background-position: center top
      .description
        display: flex
        align-items: center
        flex-flow: row wrap
        padding: 0 72px
        background: $light-white
        p
          opacity: .8
      &.reverse
        .flex
          position: relative
          &:after
            left: 100%
            top: 50%
            border: solid transparent
            content: ""
            height: 0
            width: 0
            position: absolute
            pointer-events: none
            border-color: rgba(32, 118, 218, 0)
            border-left-color: $light-white
            border-width: 18px
            margin-top: -18px
      .flex
        position: relative
        &:after
          right: 100%
          top: 50%
          border: solid transparent
          content: ""
          height: 0
          width: 0
          position: absolute
          pointer-events: none
          border-color: rgba(32, 118, 218, 0)
          border-right-color: $light-white
          border-width: 18px
          margin-top: -18px


@media all and (max-width: 768px)
  .mod-featured
    .featured-items
      .item
        display: block
        height: auto
        &.reverse
          flex-direction: row
          display: block
        .featured-img
          height: 216px
        .description
          padding: 60px 30px
        .flex
          &:after
            display: none
