.mod-featured
  .featured-items
    background: red
    .item
      display: flex
      height: 400px
      &.reverse
        flex-direction: row-reverse
      .featured-img
        background: url(../images/academy-mock.jpg)
        background-size: cover
        background-position: center top
        &.sales
          background: url(../images/sales-mock.jpg)
          background-size: cover
          background-position: center top
      .description
        display: flex
        align-items: center
        flex-flow: row wrap
        padding: 0 72px
        background: $light-white
        p
          opacity: .8



@media all and (max-width: 768px)
  .mod-featured
    .featured-items
      .item
        display: block
        height: auto
        &.reverse
          flex-direction: row
          display: block
        .featured-img
          height: 216px
        .description
          padding: 60px 30px
