.mod-hero
  display: flex
  background: url('../images/headerbg.jpg')
  height: 624px
  text-align: center
  .container
    align-items: center
    justify-content: center
    display: flex
    h1
      margin-top: 1em
      color: white
