.mod-intro
  padding: 120px 0
  text-align: center
  background: white
  &.lg
    padding: 120px 0 240px 0
  .container
    display: flex
    justify-content: center
    flex-flow: row wrap
    h2
      border-bottom: 2px solid $pink
      padding: 0px 0 12px 0
      margin-bottom: 24px
    strong
      font-weight: 600
      color: $pink



@media all and (max-width: 768px)
  .mod-intro
    padding: 60px 0
    &.lg
      padding: 60px 0
