.menu-coll
  visibility: hidden
  background: $black
  position: fixed !important
  height: 100%
  right: 0
  transition: transform .4s ease .16s
  overflow: hidden
  top: 0
  width: 25vw
  border-left: 3px solid white
  ul
    padding: 60px
    a
      padding: 24px 0
      position: relative
      &.active
        position: relative
        &:before
          background: $pink
          height: 7px
          width: 7px
          position: absolute
          content: ""
          left: -24px
          top: 30px
          transform: rotate(45deg)
      &:hover
        &:before
          background: $pink
          height: 7px
          width: 7px
          position: absolute
          content: ""
          left: -24px
          top: 30px
          transform: rotate(45deg)
      li
        font-size: 22px
        font-weight: 100
        padding: 24px 0
        color: white
  .logo
    position: absolute
    bottom: 0
    width: 100%
    padding: 36px 0
    background: #464646
    img
      margin-left: 48px

.menu-show
  // transition: transform .4s ease .16s
  // transform: translateX(-25vw)
  margin-right: 25vw
  .menu-coll
    visibility: visible
    // transition: 1s
    // position: fixed
  .mod-header
    right: 25vw


@media all and (max-width: 768px)
  .menu-coll
    z-index: 99999
    margin-top: 60px
    width: 100vw
    right: 0
    ul
      padding: 36px 60px
    .logo
      bottom: 60px !important
      padding: 24px 0 !important
  .menu-show
    margin-right: 0
  .mod-header
    right: 0 !important
