.mod-process
  background: white
  padding: 120px 0 60px 48px
  margin: 60px 0 -90px 0
  .term
    margin-bottom: 60px
    &:nth-last-child(1)
      margin-bottom: 0
    &:nth-child(1)
      margin-top: 60px
    h4
      font-weight: 600
      margin-bottom: 12px
  img
    width: 100%

@media all and (max-width: 768px)
  .mod-process
    padding: 60px 0
    .row
      flex-flow: row wrap
      .term
        margin-bottom: 36px
        h4
          font-size: 16px
      img
        margin-left: 30px
