.mod-promote
  background: url('../images/speakappromote.jpg')
  height: 504px
  background-size: cover
  background-position: center center
  position: relative
  margin-bottom: 60px
  .overlay
    background: rgba(74,74,74,.4)
    position: absolute
    top: 0
    left: 0
    width: 33.333%
    height: 504px
    display: flex
    align-items: center
    .wrapper
      padding: 72px
      h3
        color: white
        margin-bottom: 36px
      strong
        font-weight: 600
