.mod-quote
  overflow: hidden
  background: white
  text-align: center
  padding: 72px 0 96px 0
  &.push
    margin: 90px 0
  h2
    margin: 36px 0
  small
    font-size: 14px
    color: $pink
    text-transform: uppercase
    font-weight: 700
  .carousel
    display: flex
    list-style: none
    margin: 0
    padding: 0
    position: relative
    left: -100%
    transform: translateX(100%)

    &.is-set
      transform: none
      // transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1)
      transition: 1s ease-in-out
    .container
      flex: 1 0 100%
      order: 2

      &.is-ref
        order: 1

@media all and (max-width: 768px)
  .mod-quote
    .container
      padding: 0
    &.push
      margin: 60px 0
    h2
      font-size: 18px
