.mod-skills
  background: white
  padding: 120px 0 0 0
  .skills
    display: flex
    margin: 36px 0
    .skill
      flex-basis: 20%
      max-width: 20%
      margin-right: 36px
      &:nth-last-child(1)
        margin: 0
      h4
        font-weight: 600
        margin-bottom: 12px
  img
    margin-bottom: -3px
