.flexslider
  margin: 0
  padding: 0
  .slides
    li
      display: flex
      flex-flow: row wrap
      position: relative
      img
        width: 100%
      .flex-caption
        display: block
        background: white
        width: 100%
        height: 90px
        margin-top: -90px
        display: flex
        align-items: center
        padding-left: 48px
        margin-right: 72px
    .pager
      position: absolute
      height: 90px
      bottom: 0
      right: 0
      margin-right: 72px
      .controlls
        display: flex
        .previous, .next
          cursor: pointer
          display: flex
          align-items: center
          justify-content: center
          width: 90px
          height: 90px
        .previous
          background: $black
          &:hover
            background: darken($black, 5%)
          &:after
            content: url('../images/btnprev.svg')
        .next
          background: $blue
          &:hover
            background: darken($blue, 5%)
          &:after
            content: url('../images/btn-arrow.svg')
