.mod-vacatures
  .vacature
    background-color: white
    .vacature-img
      height: 240px
      display: flex
      justify-content: center
      align-items: center
      position: relative
      overflow: hidden
      img
        height: 150px
    .wrapper
      padding: 36px 36px 72px 36px
      border-right: 1px solid $border
      p
        margin-bottom: 48px
